$primary-text-color: #d41443;
$main-text-color: #ffffff;
$secondary-text-color: #ffa5ba;
$primary-background-color: #ffb8ca;
$secondary-background-color: #e5e5e5;
$background-extra-color: #fff5f6;
$specific-color: #f0d1a5;
$aditional-color: #c2e297;
$extra-text-color: #907e82;
$accent-color: #afb1b8;
$dark-text-color: #000000;
