
<section id="about_us_mob" class="about about-container">
    <div class="container">

        <span class="about__crosshead">tradition and love</span>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__position">
        <picture>
            <source srcset="./images/about-desktop-cow.png 1x, ./images/about-desktop-cow@2x.png 2x"
                media="(min-width:1200px)" />
            <source srcset="./images/about-tablet-cow.png 1x, ./images/about-tablet-cow@2x.png 2x"
                media="(min-width:768px)" />
            <source srcset="./images/about-mobile-cow.png 1x, ./images/about-mobile-cow@2x.png 2x"
                media="(min-width:480px)" />
            <img class="about__img" src="./images/about-desktop-cow.png" alt="cow">
        </picture>
        <ul class="about-list">
            <li class="about-list__item"><b class="about-list__bold-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</b>
            </li>
            <li class="about-list__item"><p class="about-list__normal-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. 
                <p class="about-list__indent">Aliquam erat volutpat. Aenean accumsan.</p>
                </p>
            </li>
        <button class="about__btn" type="button">Read more<svg class="about__btn-mark" width='8' height='16'><use href="./images/about-symbol-defs.svg#icon-about-btn-right"></use></svg></button>
        </ul>
        </div>

    </div>
</section>