<section id="how_its_made_mob" class="advantages section">
  <div class="container container-advantages">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="our-advantages">
      <li class="list-advantages">
        <div class="image-number">
          <h3 class="level-advantage">721</h3>
          <p class="item-advantage">
            Aliquam ac dui vel dui vulputate <br />
            consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="list-advantages">
        <div class="image-kg">
          <h3 class="level-advantage">16kg</h3>
          <p class="item-advantage">
            Aliquam ac dui vel dui vulputate <br />
            consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="list-advantages">
        <div class="image-ice">
          <h3 class="level-advantage">84</h3>
          <p class="item-advantage">
            Aliquam ac dui vel dui vulputate <br />
            consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
