
   <section id="contact_mob" class="contacts">
   
        <h2 class="contact-title">Contacts</h2>
        <ul  class="contacts-list container">
            <li class="contacts-card">
            <span class="contacts-card__cafe">CAFE</span>
            <h3 class="contacts-card__town">Chicago</h3>
            <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts-schedule">
                <ul class="contacts-schedule__list">
                    <li class="contacts-schedule__item"> <p class="contacts-schedule__day"> Monday - Friday</p>
                        <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-schedule__item">
                        <p class="contacts-schedule__day"> Saturday - Sunday</p>
                        <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
            </div>
            <ul>
                <li>
                    <a class="contacts-card__link"  href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </li>
                <li>
                    <a class="contacts-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
            </ul>
            </li>
            
            <li class="contacts-card">
                <span class="contacts-card__cafe contacts-card__foodtruck">FOODTRUCK</span>
                <h3 class="contacts-card__town">Los Angeles</h3>
                <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts-schedule">
                    <ul class="contacts-schedule__list">
                        <li class="contacts-schedule__item">
                            <p class="contacts-schedule__day"> Monday - Friday</p>
                            <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-schedule__item">
                            <p class="contacts-schedule__day"> Saturday - Sunday</p>
                            <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li>
                        <a class="contacts-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-card">
                <span class="contacts-card__cafe">CAFE</span>
                <h3 class="contacts-card__town">New York</h3>
                <p class="contacts-card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts-schedule">
                    <ul class="contacts-schedule__list">
                        <li class="contacts-schedule__item">
                            <p class="contacts-schedule__day"> Monday - Friday</p>
                            <p class="contacts-schedule__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-schedule__item">
                            <p class="contacts-schedule__day"> Saturday - Sunday</p>
                            <p class="contacts-schedule__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li>
                        <a class="contacts-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            
        </ul>
        <include src="./partials/location.html"></include>
</section>


