<section class="section-customers">
  <div class="container">
    <div class="slider">
      <div class="slider-customer">

      
      <img      class="customer-photo" src="/images/customer-reviews/customer-reviews-1.jpg"
      alt=""
      width="85"
      height="85"
    />

    <div class="abc">
      <p class="reviews">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <div class="gradient"></div>
    </div>
    <p class="customer-name">Zoe, Vancouver</p>
    </div>
  
   
    <div class="slider-customer">
      <img      class="customer-photo" src="/images/customer-reviews/customer-reviews-2.jpg"
      alt=""
      width="85"
      height="85"
    />

    <div class="abc">
      <p class="reviews">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <div class="gradient"></div>
    </div>
    <p class="customer-name">Emily, Los Angeles</p>
    </div>

    <div class="slider-customer">
      <img      class="customer-photo" src="/images/customer-reviews/customer-reviews-3.jpg"
      alt=""
      width="85"
      height="85"
    />

    <div class="abc">
      <p class="reviews">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <div class="gradient"></div>
    </div>
    <p class="customer-name">Lucy, New York</p>
    </div>
  </div>
  </div>

  <!-- srcset="../images/customer-reviews/customer-reviews-1.jpg 1x ,../images/customer-reviews/customer-reviews-1@2x.jpg 2x" -->
</section>
