<footer>
    <div class="footer__box container">
        <div class="footer__slogan">
            <h2 class="footer__slogan-made">
                homemade ice cream
                <span class="footer__slogan-wrap">made</span>
            </h2>
            <h3 class="footer__slogan-passion"><span class="footer__slogan-wrap">with</span> passion</h3>
        </div>
        <div class="footer__social">
            <ul class="footer__social-list">
                <li class="footer__social-icon">
                    <a href="https://github.com/" class="footer__social-link" target="blank">
                        <svg class="footer__logo-icon" with="20" height="20">
                            <use href="./images/footer-icon.svg#icon-git">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer__social-icon">
                    <a href="https://telegram.org/" class="footer__social-link" target="blank">
                        <svg class="footer__logo-icon" with="20" height="15">
                            <use href="./images/footer-icon.svg#icon-telegram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer__social-icon">
                    <a href="https://facebook.com" class="footer__social-link" target="blank">
                        <svg class="footer__logo-icon" with="20" height="20">
                            <use href="./images/footer-icon.svg#icon-facebook">
                            </use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__contact">
                Feel free to contact
                <a href="tel:+61 (0) 383 766 284" class="footer__phone"> +61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
</footer>
<footer class="footer footer__second">
    <div class="container footer__copy">
        <p class="footer__copy-text">© 2019 - IceCream. <span class="text__wrap-footer">All Rights Reserved.</span> </p>
    </div>
</footer>