<section class="practice container">
  <img
    class="practice__image-tablet"
    srcset="./images/gallery/gallery-tablet-2.jpg 1x, ./images/gallery/gallery-tablet-2.jpg 2x"
    src="./images/gallery/gallery-tablet-2.jpg"
    alt="Компьютера"
  />

  <div class="grid__body">
    <div class="item item__1">
      <img class="radius" src="./images/gallery/1.jpg" width="150" height="145" alt="ice crem" />
    </div>

    <div class="item item__2">
      <img class="radius" src="./images/gallery/2.jpg" width="150" height="145" alt="ice crem" />
    </div>

    <div class="item item__3">
      <img class="radius" src="./images/gallery/3.jpg" width="150" height="145" alt="ice crem" />
    </div>

    <div class="item item__4">
      <img class="radius" src="./images/gallery/4.jpg" width="280" height="270" alt="ice crem" />
    </div>

    <div class="item item__5">
      <img class="radius" src="./images/gallery/5.jpg" width="150" height="135" alt="ice crem" />
    </div>

    <div class="item item__6">
      <img class="radius" src="./images/gallery/6.jpg" width="150" height="145" alt="ice crem" />
    </div>

    <div class="item item__7">
      <img class="radius" src="./images/gallery/7.jpg" width="150" height="145" alt="ice crem" />
    </div>

    <div class="item item__8">
      <img class="radius" src="./images/gallery/8.jpg" width="150" height="145" alt="ice crem" />
    </div>

    <div class="item item__9">
      <img class="radius" src="./images/gallery/9.jpg" width="150" height="145" alt="ice crem" />
    </div>

    <div class="item item__10">
      <img class="radius" src="./images/gallery/10.jpg" width="144" height="145" alt="ice crem" />
    </div>
  </div>
</section>
