<header>
  <section id="home_mob" class="heading">
      <div class="header-container">
      <nav class="header__navigation">
        <a href="./index.html" class="logo">
          <svg class="icon" width="199" height="50">
            <use href="./images//header/logo_1.svg"></use>
          </svg>
        </a>
        <ul class="scrollto  header__wide-menu list">
          <li >
            <a  href="#home_mob" class="link header__wide-menu--item">Home</a>
          </li>
          <li >
            <a href="#about_us_mob" class="link header__wide-menu--item">About us</a>
          </li>
          <li>
            <a href="#how_its_made_mob" class="link header__wide-menu--item">How it`s made?</a>
          </li>
          <li >
            <a href="#our_products_mob"  class="link header__wide-menu--item">Our products</a>
          </li>
          <li >
            <a href="#contact_mob" class="link header__wide-menu--item">Contacts</a>
          </li>
        </ul>
        <div class="buttons">
          <button type="button" class="button-burger mobile-menu__switcher js-open-menu">
          <!--<svg
            width="20"
            height="12"
            aria-label="Переключатель мобильного меню"
          >
            <use href="./img/icons.svg#icon-menu_burger"></use>
            <use href="./img/burger.png"></use>
          </svg>-->
  </button>
        <button type="button" class="btn btn--buy">Buy now   ></button>
        </div>


      </nav>
      <div class="header__middle">
        <h1 class="header__text">
          Ice cream made with </br> <span class="header__accent-text">passion</span>
        </h1>
        <div class="header__many">
          <p class="header__many--count">16 </br> <span class="header__many--word">cafes</span> </p>
          <p class="header__many--count">23 </br> <span class="header__many--word">food trucks</span> </p>
        </div>
      </div>
      <div class="header__buttons">
       <a href="./index.html#our_products_mob"> <button type="button" class="btn">Products</button></a>
       <a href="./index.html#how_its_made_mob"> <button type="button" class="btn">How It`s Made?</button></a>
      </div>
      <div class="header__bottom">
        <div class="header__bottom--left">
          <picture >
          <source srcset="
             ./images/header/hero-milk-desktop-1x.png 1x,
             ./images/header/hero-milk-desktop-2x.png 2x"
              media="(min-width:1280px)" />
          <source srcset="
             ./images/header/hero-milk-tablet-1x.png 1x,
             ./images/header/hero-milk-tablet-2x.png 2x"
              media="(min-width:768px)" />

                <img src="./images/header/hero-milk-tablet-1x.png"
                alt="Lets milk?"
                class="header__milk"
        />
        </picture>

        <div class="header__bottom--left-text">
          <p class="milk__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button type="button" class="button-arrow-right">
          
            <svg  width="12" height="12">
                        <use href="./images/header/arrow-right-button.svg#icon-arrow-right2"></use>
                          </svg>  </button>
  </div>

        </div>
        <picture class="header__girl--set">
          <source srcset="
             ./images/header/header-girl-desktop-1x.png 1x,
             ./images/header/header-girl-desktop-2x.png 2x"
              media="(min-width:1280px)" />
          <source srcset="
             ./images/header/header-girl-tablet-1x.png 1x,
             ./images/header/header-girl-tablet-2x.png 2x"
              media="(min-width:768px)" />

                    <img src="./images/header/header-girl-tablet-1x.png"
                      alt="So tasty"
                      class="header__girl"
                      />
        </picture>

      </div>
      <div class="circle">
        <div class="header__hero"></div>
      </div>


    </div>
    </section>
</header>
