<div class="mobile-menu js-menu-container container" id="mobile-menu">
  <button type="button" class="mobile-menu__switcher js-close-menu">
    <svg width="14" height="14" aria-label="переключатель мобильного меню">
      <use href="./images/mob-m-icons-2.svg#icon-close-1"></use>
    </svg>
  </button>
  <button type="button" class="mobile-menu__btn">
    <svg class="mobile-menu__btn-name" width="91" height="44">
      <use href="./images/mob-m-icons-2.svg#icon-buy-now-2"></use>
    </svg>

    <svg class="mobile-menu__arrow" width="7" height="10">
      <use href="./images/mob-m-icons.svg#icon-arrow"></use>
    </svg>
  </button>
  <nav>
    <ul>
      <li class="mobile-menu__site-nav-item">
        <a href="#home_mob" class="link mobile-menu__site-nav-link js-menu-link">Home</a>
      </li>
      <li class="mobile-menu__site-nav-item">
        <a href="#about_us_mob" class="link mobile-menu__site-nav-link js-menu-link">About us</a>
      </li>
      <li class="mobile-menu__site-nav-item">
        <a href="#how_its_made_mob" class="link mobile-menu__site-nav-link js-menu-link"
          >How it’s made?</a
        >
      </li>
      <li class="mobile-menu__site-nav-item">
        <a href="#our_products_mob" class="link mobile-menu__site-nav-link js-menu-link"
          >Our products</a
        >
      </li>
      <li class="mobile-menu__site-nav-item">
        <a href="#contact_mob" class="link mobile-menu__site-nav-link js-menu-link">Contact</a>
      </li>
    </ul>
  </nav>
</div>
