<section id="our_products_mob" class="product section">

  <div class="container">
  <span class="product__label">100% natural</span>
  <h2 class="product__title">products</h2>
  <ul class="product__list">
    <li class="product__item">
      <div class="product__card ">
        <div class="product__front product__front--pink">
          <h3 class="product__subtitle">ice cream</h3>
          <p class="product__description">
            This ice cream is a delight for the real connoisseurs - both young and old. 100%
            natural, you will not find it anywhere else!
          </p>
        </div>
        <div class="product__back product__back--pink">
           <ul class="product__info">
          <span class="product__calc">Nutrition Facts </br> Amount Per 100 grams:</span>
          <li class="product__text">Calories 207</li>
           <li class="product__text">Total Fat 11 g</li>
            <li class="product__text">Cholesterol 44 mg</li>
             <li class="product__text">Sodium 80 mg</li>
              <li class="product__text">Potassium 199 mg</li>
               <li class="product__text">Total Carbohydrate 24 g</li>
               <li class="product__text">Protein 3.5 g</li>
               
        </ul>
          <p class="product__text product__text--none">Frozen desserts like ice cream are traditionally calorie dense and contain a high amount of sugar. Ice cream offers some benefits like calcium and a few grams of protein.</p>
          
        </div>
      </div>
    </li>

    <li class="product__item">
      <div class="product__card ">
        <div class="product__front product__front--yellow">
          <h3 class="product__subtitle">ice coffee</h3>
          <p class="product__description">
            Coffee (100% Arabica Utz) Intensely aromatic, the taste of real Italian espresso that
            speaks for itself.
          </p>
        </div>
        <div class="product__back product__back--yellow">
           <ul class="product__info">
          <span class="product__calc">Nutrition Facts </br> Amount Per 100 grams:</span>
          <li class="product__text">Calories 0</li>
           <li class="product__text">Total Fat 0 g</li>
            <li class="product__text">Cholesterol 0 mg</li>
             <li class="product__text">Sodium 2 mg</li>
              <li class="product__text">Potassium 49 mg</li>
               <li class="product__text">Caffeine 40 mg</li>
               <li class="product__text">Protein 0.1 g</li>
               </ul>
          <p class="product__text product__text--none">Healthy iced coffee made with cold (leftover) coffee, almond milk and without any added sugar. On a hot summer day, it will satisfy your late afternoon craving.</p>
       
        </div>
      </div>
    </li>

    <li class="product__item">
      <div class="product__card ">
        <div class="product__front product__front--green">
          <h3 class="product__subtitle">milkshakes</h3>
          <p class="product__description">
            Fresh whole milk with your choice of flavor. Refer to the allergens of our milkshakes
            selection.
          </p>
        </div>
        <div class="product__back product__back--green">
           <ul class="product__info">
          <span class="product__calc">Nutrition Facts </br> Per 100 grams:</span>
          <li class="product__text">Calories 112</li>
           <li class="product__text">Total Fat 3 g</li>
            <li class="product__text">Cholesterol 12 mg</li>
             <li class="product__text">Sodium 95 mg</li>
              <li class="product__text">Potassium 183 mg</li>
               <li class="product__text">Total Carbohydrate 18 g</li>
               <li class="product__text">Protein 3.9 g</li>
               
        </ul>
          <p class="product__text product__text--none">This healthy milkshake is thick and creamy, and clocks in at under 50 calories! Perfect for a healthy dessert and with over 6 flavor options to choose from! </p>
        
        </div>
      </div>
    </li>
    </div>
  </ul>
</section>
